#title {
    color: plum;
    border: #555 solid 2px;
    text-align: center;
    background-color: white;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: rgb(132, 148, 236);
}

a:visited {
    color: rgb(213, 161, 255);
}

a {
    display: block;
}

.recipes {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4 {
    background-color: white;
    border: 2px solid #555;
    text-align: center;
}

#img,
.img2 {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #555
}

.img2 {

    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px; 
}

body {
    background-color: beige;

}

/* these are the body text (excluding images) */
p, h2, h4, li, a {
    margin-left: auto;
    margin-right: auto;
    width: 20cm;
}

